.coin-slider { 
	overflow: hidden; 
	zoom: 1;
	position: relative; 
	padding-right: 153px;
	padding-left: 153px;
}

.coin-slider a{
	text-decoration: none;
	outline: none; 
	border: none; }

.cs-buttons { font-size: 0px; padding: 10px; 
float: left; }

.cs-buttons a { margin-left: 5px; height: 15px;
 width: 15px; float: left; 
 border: 1px solid #EC803B; 
 border-radius: 50%;
 color: #EC803B; text-indent: -1000px; }

.cs-active { background-color: #EC803B; color: #FFFFFF; }

.cs-title { width: 545px; padding: 10px; background-color: #000000; color: #FFFFFF; }

